node_modules
.env
.vscode
todos.txt
!.gitkeep
config-server-files.png

src/uploads/images/calibration/**
src/uploads/images/instrument/**
src/uploads/images/report/**
src/uploads/images/response/**
src/uploads/images/station/**
src/uploads/images/ticket/**

src/uploads/documents/calibration/**
src/uploads/documents/instrument/**
src/uploads/documents/report/**
src/uploads/documents/response/**
src/uploads/documents/station/**
src/uploads/documents/ticket/**

